# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
venv/
env/
.env

# Build artifacts
dist/
build/
*.egg-info/
*.egg
MANIFEST

# Type checking / linting
.mypy_cache/
.ruff_cache/
.dmypy.json

# Testing
.pytest_cache/
.coverage
htmlcov/
*.cover

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
*.log

# Node
YokoNex-Cloud/node_modules/
YokoNex-Cloud/.env

# Flutter
YokoNex-Flutter/.dart_tool/
YokoNex-Flutter/.flutter-plugins
YokoNex-Flutter/.flutter-plugins-dependencies
YokoNex-Flutter/build/
YokoNex-Flutter/android/.gradle/
YokoNex-Flutter/ios/Pods/
YokoNex-Flutter/ios/.symlinks/

#subdemo
YCY-VRCOSC